@use "colors";
@use "variables";
@import "mixins";

//Olaf
.article__header.olaf {
  background-image: url(../images/olaf/olaf_header.jpg);
}

.article__headline1.olaf,
.article__headline2.olaf {
  @include article-color(colors.$color-red);
}

//Iceland
.article__header.iceland {
  background-image: url(../images/iceland/iceland_header.jpeg);
}

//Lycijska
.article__header.lycij {
  background-image: url(../images/lycij/lycij_header.jpeg);
}

.article__headline1.lycij,
.article__headline2.lycij {
  @include article-color(colors.$color-orange);
}

//Cyprus
.article__header.cyprus {
  background-image: url(../images/cyprus/cyprus_header.jpg);
}

.article__headline1.cyprus,
.article__headline2.cyprus {
  @include article-color(colors.$color-yellow);
}

//Banff
.article__header.banff {
  background-image: url(../images/banff/banff_header.jpg);
}

.article__headline1.banff,
.article__headline2.banff,
.article__link.banff {
  @include article-color(colors.$color-blue);
}

//Alberta a BC 1
.article__header.alberta-bc {
  background-image: url(../images/alberta/alberta_header.jpg);
}

.article__headline1.alberta-bc,
.article__headline2.alberta-bc,
.article__link.alberta-bc {
  @include article-color(colors.$color-green);
}

//Alberta a BC 2
.article__header.alberta-bc2 {
  background-image: url(../images/bc/bc_header.jpeg);
}

.article__headline1.alberta-bc2,
.article__headline2.alberta-bc2,
.article__link.alberta-bc2 {
  @include article-color(colors.$color-blue);
}

//Stampede
.article__header.stampede {
  background-image: url(../images/stampede/stampede_header.jpg);
}

.article__headline1.stampede,
.article__headline2.stampede,
.article__link.stampede {
  @include article-color(colors.$color-red);
}
