@use "colors";
@use "variables";
@import "mixins";

//Header article picture
.article__header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 10em;

  @media screen and (min-width: 550px) {
    height: 15em;
  }

  @media screen and (min-width: 930px) {
    height: 23em;
  }
}

.article__content {
  @media screen and (min-width: 960px) {
    max-width: 960px;
    margin: -75px auto 0 auto;
    background-color: colors.$color-white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

//Headline, perex, author article
.article__headline1,
.article__headline2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 1em;

  @media screen and (min-width: 550px) {
    font-size: 2em;
  }

  @media screen and (min-width: 960px) {
    font-size: 3em;
  }
}

.article__headline2 {
  font-size: 1.2em;
  padding-top: 1.5em;
  padding-bottom: 0;

  @media screen and (min-width: 550px) {
    font-size: 1.5em;
  }

  @media screen and (min-width: 960px) {
    font-size: 1.6em;
  }
}

.article__perex {
  text-align: center;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media screen and (min-width: 550px) {
    padding: 0 6em;
  }

  @media screen and (min-width: 960px) {
    padding: 0 8em;
  }
}

.article__author {
  font-style: italic;
  padding: 1em;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 3em;
    height: 0.1em;
    background-color: colors.$color-black;
    margin: 0 auto 1em auto;
  }
}

//Contain article
.article__content-text p {
  padding: 0 2em;
  margin: 1em 0;
  text-align: center;

  @media screen and (min-width: 550px) {
    padding: 0 6em;
    text-align: justify;
  }

  @media screen and (min-width: 960px) {
    padding: 0 8em;
  }
}

.article__content-text a {
  color: colors.$color-red;
}

.article__content-text a:hover,
.article__content-text a:focus,
.article__content-text a:active {
  text-decoration: underline;
}

//Pictures article
.article__content-text img {
  padding-top: 1em;
}

.article__content-text img:last-child {
  padding-bottom: 0;
}

figcaption {
  font-style: italic;
  text-align: center;
  padding: 0 1em;
  font-size: 0.9em;
}

iframe {
  width: 100%;
  height: 25em;
}
