@use "colors";
@use "variables";
@import "mixins";

//Header article picture
.article__header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 10em;

  @media screen and (min-width: 550px) {
    height: 15em;
  }

  @media screen and (min-width: 930px) {
    height: 23em;
  }
}

.article__content {
  @media screen and (min-width: 960px) {
    display: block;
    position: relative;
    max-width: 960px;
    margin: -75px auto 0 auto;
    background-color: colors.$color-white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 35px;
  }
}

main {
  @media screen and (min-width: 550px) {
    padding-bottom: 75px;
  }
}

//Headline, perex, author article
.article__headline1,
.article__headline2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 1.2em;

  @media screen and (min-width: 550px) {
    font-size: 2em;
  }

  @media screen and (min-width: 960px) {
    font-size: 3em;
  }
}

.article__headline2 {
  font-size: 1.2em;
  padding-top: 1.5em;
  padding-bottom: 0;

  @media screen and (min-width: 550px) {
    font-size: 1.5em;
  }

  @media screen and (min-width: 960px) {
    font-size: 1.6em;
  }
}

.article__perex {
  text-align: center;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media screen and (min-width: 550px) {
    padding: 0 6em;
  }

  @media screen and (min-width: 960px) {
    padding: 0 8em;
  }
}

.article__author {
  font-style: italic;
  padding: 1em;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 3em;
    height: 0.1em;
    background-color: colors.$color-black;
    margin: 0 auto 1em auto;
  }
}

//Contain article
.article__content-text p {
  padding: 0 2em;
  margin: 1em 0;
  text-align: center;

  @media screen and (min-width: 550px) {
    padding: 0 5em;
  }

  @media screen and (min-width: 960px) {
    padding: 0 7em;
  }
}

.article__perex a,
.article__content-text a {
  color: colors.$color-red;
  font-weight: bold;
}

.article__content-text a:hover,
.article__content-text a:focus,
.article__content-text a:active,
.article__perex a:hover,
.article__perex a:focus,
.article__perex a:active {
  text-decoration: underline;
}

//Pictures article
.article__content-text img {
  padding-top: 1em;
}

.article__content-text img:last-child {
  padding-bottom: 0;
}

figcaption {
  font-style: italic;
  text-align: center;
  padding: 0 1em;
  font-size: 0.9em;
}

iframe {
  width: 100%;
  height: 25em;
}

//Galerie v článku
.article__gallery {
  @media screen and (min-width: 450px) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.article__gallery img {
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media screen and (min-width: 450px) {
    margin-bottom: 0;
  }
}

//Umístění obrázků v rámci article gallery - grid
//Dvě fotky na výšku vlevo
.two-portrait-left .item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.two-portrait-left .item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.two-portrait-left .item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

//Jedna fotka na výšku vpravo
.one-portrait-right .item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.one-portrait-right .item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.one-portrait-right .item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

//Jedna fotka na výšku vlevo
.one-portrait-left .item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.one-portrait-middle .item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
