@use "colors";
@use "variables";

//Základní nastavení CSS
html {
  box-sizing: border-box;
  height: 100%;
  background-color: colors.$color-background;
  color: colors.$color-black;
}

*,
::before,
::after {
  box-sizing: inherit;
}

//Stylování body
body {
  font-family: variables.$default-font;
  font-size: variables.$body-text;
  line-height: 1.8;
}

//Responzivní obrázky
img {
  width: 100%;
  height: auto;
}
