$color-white: #fafafa;
$color-black: #080808;
$color-background: #f5f5f5;

//https://color.adobe.com/cs/explore
$color-blue: #0367a6;
$color-green: #4f7302;
$color-yellow: #f2b705;
$color-orange: #f27405;
$color-red: #a6290d;
