<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="{{ img }}" />
    <link rel="canonical" href="https://markovci.cz{{ link }}" />
    <link
      rel="alternate"
      hreflang="cs-cs"
      href="https://markovci.cz{{ link }}"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class="header__logo">
        <a href="/"><p class="logo">Markovci</p></a>
        <p class="logo__text">československé postřehy ze života na cestách</p>
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer></footer>
    <script src="/js/fslightbox.js"></script>
  </body>
</html>
